/* CSS declarations go here */
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 35em;
  height: 100%;
  margin: 0 auto;
}

.room {
  width: 40%;
  margin: .25em 1em;
  height: calc(16.5% - .5em);
  background: #ccc;
}

.room.vacant {
  background: green;
}

.room.occupied {
  background: red;
}
